<!DOCTYPE html>
<html>
<head>
    <title>myLog | {{ .PageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="max-age=300">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">    




  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {{ block "css" . }}{{ end }}

	
</head>
<body>

<!-- ============= NAV ============== -->
<iframe width="1" height="1" src="/inc/menu.html" onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()"></iframe>
<!-- ============= NAV END// ============== -->


    <div class="container-fluid">
        {{ block "content" . }}{{ end }}
    </div>



    {{ block "js" . }}{{ end }}

</body>
</html>